
<div class="row">
    <div [class]="!isOpen ? 'col-12' : 'col-8'">
        <div class="card">
            <div class="card-header bg-success">
                    <div class="row">
                        <div class="col-6">
                            Employye List
                        </div>
                        <div class="col-6 text-end">
                            
                            <button  class="btn btn-primary" (click)="isPanelOpen()">Create New</button>
                        </div>
                    </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">    
                            <thead>
                                <tr>
                                  <th>SR no</th>
                                  <th>Name</th>
                                  <th>usernamw</th>
                                  <th>email</th>
                                  <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (users of userLists; track  $index) {
                                    <tr>
                                      <td>{{$index}}</td> 
                                      <!-- <td>{{$index +1}}</td>  -->
                                      <td>{{users.name}}</td> 
                                      <td>{{users.username}}</td> 
                                      <td>{{users.email}}</td>
                                        <td>
                                            <!-- <button  class="btn btn-primary viewContent">View</button> -->
                                            <button  class="btn btn-success" 
                                            [style]="{'margin-right': '10px'}" (click)="onEdit(users)">Edit</button>
                                            <button  class="btn btn-danger" (click)="onDelete(users.id)">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-4">
      @if (isOpen) {
          <div class="card">
              <div class="card-header bg-success">
                  <div class="row">
                      <div class="col-6">
                          New Employee
                      </div>
                      <div class="col-6 text-end">
                          
                          <button class="btn btn-primary" (click)="isPanelOpen()">Close</button>
                      </div>
                  </div>        
                </div>
              <div class="card-body">
                  <form [formGroup]="userForm">
                      <div class="mb-3">
                          <label for="name" class="form-label">Name:</label><br>
                          <input type="name" id="name" formControlName="name" placeholder="Enter Name" name="name">
                          </div>
                      <div class="mb-3">
                          <label for="username" class="form-label">username:</label><br>
                          <input type="username" id="username" formControlName="username"  placeholder="Enter username" name="username">
                          </div>
                              <div class="mb-3 mt-3">
                                <label for="email" class="form-label">Email:</label><br>
                                <input type="email" id="email" formControlName="email" placeholder="Enter email" name="email">
                              </div>
                    @if (isEditMode) {
                        <button  type="button" class="btn btn-warning" (click)="onUpdate()">Update</button>
                    }@else {
                        <button  type="button" class="btn btn-primary" (click)="OnSubmit()">Submit</button>
                    }
                     
                    </form>
              </div>
          </div>
        }